# Node.js
node_modules
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.py[cod]
*.pyo
env/
venv/

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# OS files
.DS_Store
Thumbs.db

# Build output
build/
dist/

# Kubernetes
*.yaml

# Other
*.env