# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Python
__pycache__/
*.py[cod]
*.pyo
env/
venv/
*.env
*.egg-info/

# VSCode settings
.vscode/

# Docker
*.log
docker-compose.override.yml

# System files
.DS_Store
Thumbs.db

# Kubernetes configs (optional, if generated dynamically)
*.yaml

# Others
.env.local
.env.production
.env.development

# Build output
dist/
build/backend/minikube-linux-amd64
